<div class="col-md-12">
  <div class="posts">
    <%= link_to("Edit", edit_posts_path(@posts), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @posts.title %></h2>
  <p><%= @posts.description %></p>
</div>
